<p id="notice"><%= notice %></p>

<form>
  <fieldset disabled>
    <div class="form-group">
      <%= label_tag nil, @coin.class.human_attribute_name(:description) %>
      <%= text_field_tag nil, @coin.description, class:"form-control" %>
    </div>
  
    <div class="form-group">
      <%= label_tag nil, @coin.class.human_attribute_name(:acronym) %>
      <%= text_field_tag nil, @coin.acronym, class:"form-control" %>
    </div>
  
    <div class="form-group">
      <%= label_tag nil, @coin.class.human_attribute_name(:url_image) %>
      <%= text_field_tag nil, @coin.url_image, class:"form-control" %>
    </div>
    
    <div class="form-group">
      <%= label_tag nil, @coin.class.human_attribute_name(:minning_type) %>
      <%= text_field_tag nil, @coin.minning_type.description, class:"form-control" %>
    </div>
  </fieldset>
<form>

<%= link_to t('links.edit'), edit_coin_path(@coin), class:"btn btn-primary" %> |
<%= link_to t('links.back'), coins_path, class:"btn btn-secondary" %>
